# ======================
# Environment variables
# ======================
.env
.env.local
.env.*.local

# ======================
# Node / JS
# ======================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# ======================
# Build outputs
# ======================
dist/
build/
.next/
out/

# ======================
# Docker / Database
# ======================
database/data/          # postgres volume (VERY IMPORTANT)
*.log

# ======================
# OS / Editor
# ======================
.DS_Store
Thumbs.db

# ======================
# IDE
# ======================
.vscode/
.idea/
*.swp

# ======================
# Test / Coverage
# ======================
coverage/

# =====================
# Documentation
# =====================
docs/
*.txt

# =========================
# Misc
# =========================
*.pem
*.key